.form-container {
  width: 100%;
  margin: 0 auto;
  form {
    .input-group {
      display: grid;
      grid-template-columns: 25% 75%;
      margin: 10px;
      grid-gap: 5px;
      label {
        justify-self: end;
        align-self: center;
      }
      input {
        width: 90%;
      }
    }
  }
}
